<div class="card shadow-effect">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>SUBSCRIPTION FORM</h3>
      <p class="m-auto subs-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <form action="" class="row mb-5 mt-3">
        <div class="form-group col-md-5 mb-2">
          <input type="text" class="form-group col-md-5 shadow-effect" placeholder="Your Name">
        </div>
        <div class="form-group col-md-5 ">
          <input type="email" class="form-group col-md-5 shadow-effect" placeholder="Your Email">
        </div>
        <div class="col-md-2 mt-2">
          <button class="btn btn-info btn-block btn-sub">SUBSCRIBE</button>
        </div>
      </form>
    </div>
  </div>
</div>
