<div class="card shadow-effect mb-3">
  <img src="https://images.pexels.com/photos/1174932/pexels-photo-1174932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ms-3">Design</small>
    <small class="bg-light text-info text-center ms-3">Views 100</small>

    <h5 class="mt-1">How to start a blog website</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <small class="bg-light text-warning text-center ml-3">Last Updated - Sep 20,2022</small>
  </div>
</div>
